<div class="container-fluid" id="footer">
    <div class="row">
        <div class="col-3" id="footer_list">
            <ul>
                <li><a href="">ABOUT US</a></li>
                <li><a href="">CONTACT US</a></li>
                <li><a href="">PRODUCTS</a></li>
                <li><a href="">FAQ</a></li>
            </ul>   
        </div>
        <div class="col-1"></div>
        <div class="col-4" id="footer_service">
            Our Services
            <p>We Provide the best solutions for pc assemlers to assemble their pc.</p>
        </div>
        <div class="col-4" id="social_media">
            <img src="assets/img/facebook.png" id="fb">&nbsp;&nbsp;
            <img src="assets/img/twitter.png" id="twitter">&nbsp;&nbsp;
            <img src="assets/img/linkedin.png" id="linkedin">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p>© 2019 All Rights Reserved</p>
        </div>
    </div>
</div>