<div class="container" id="about_us">
  <div class="row">
    <div class="col-12 text-center font-weight-bold text-uppercase">
      <h3 class="tittle mb-sm-5 mb-4"><span class="font-weight-bold text-center">A</span>About Us</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col-3">
            <div class="circle">
              <img src="assets/img/1.jpg" height="100" width="100" />
            </div>
            <div><span>Mr. ABC</span></div>
          </div>
          <div class="col-3">
            <div class="circle">
              <img src="assets/img/1.jpg" height="100" width="100" />
            </div>
            <div><span>Mr. ABC</span></div>
          </div>
          <div class="col-3">
            <div class="circle">
              <img src="assets/img/1.jpg" height="100" width="100" />
            </div>
            <div><span>Mr. ABC</span></div>
          </div>
          <div class="col-3">
            <div class="circle">
              <img src="assets/img/1.jpg" height="100" width="100" />
            </div>
            <div><span>Ms. ABC</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div id="gmap">
        aa
      </div>
    </div>
  </div>
</div>
