<header>
    <nav class="navbar fixed-top navbar-expand">
        <a class="navbar-brand" href="">
            <img src="assets/img/logo.png" width="50" height="50" />
        </a>
        <div class="search_part text-right">
            <ul class="navbar-nav">
                <li>
                    <select name="search_type" id="search_type" class="form-group">
                        <option value="0">ACCESSORY</option>
                        <option value="1">VGA</option>
                        <option value="2">CPU</option>
                        <option value="3">RAM</option>
                        <option value="3">MOTHERBOARD</option>
                    </select>
                </li>
                <li>
                    <input type="text" class="form-group search_field" placeholder="Search" />
                </li>
                <li>
                    <button type="button" class="btn btn-primary"><img src="assets/img/search.png" /></button>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbar_content">
            <ul class="navbar-nav text-center ml-auto mr-lg-6">
                <li>
                    <a class="nav-link" href="">Home<span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a href="" class="nav-link">Our Team</a>
                </li>
                <li>
                    <a href="" class="nav-link">Contact Us</a>
                </li>
                <li id="login_item">
                    <a href="" class="nav-link">Login/Register</a>
                    <ul id="login_list">
                        <li>Profile</li>
                        <li>Product Master</li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>