<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="more_head">Product Name</div>
    </div>
  </div>
  <div class="row item_content">
    <div class="col-3">
      <img src="assets/img/1.jpg" height="200" width="200" />
    </div>
    <div class="col-9">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h3>Product Name</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label>Specification 1</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label>Specification 2</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label>Specification 3</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-success" id="buy_btn" name="buy_btn">Want to Buy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-2 more_tab">
      <span>Specification</span>
    </div>
    <div class="col-2 more_tab">
      <span>Customer Feedbacks</span>
    </div>
    <div class="col-2 more_tab">
      <span>Specification</span>
    </div>
    <div class="col-2 more_tab">
      <span>Customer Feedbacks</span>
    </div>
    <div class="col-2 more_tab">
      <span>Specification</span>
    </div>
    <div class="col-2 last_tab">
      <span>Customer Feedbacks</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 tab_content">
      aa
    </div>
  </div>
</div>