<div class="container-fliud">
    <div class="row bg-dark" id="layer1">
        <button type="button" class="col-1" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-6">
          <a class="nav-link nav-item" href="#">🤴Viraj LK🤴 <span class="sr-only">(current)</span></a>
        </div>
        <div class="col-5">
          <input type="text" name="search" id="search" class="form-group" placeholder="Search">
          <button class="btn btn-success" id="search_btn" name="search_btn">Search</button>
        </div>
    </div>
</div>

