<div class="container" id="profile_product">
  <div class="row">
    <div class="col-12 text-center font-weight-bold text-uppercase">
      <h3 class="tittle mb-sm-5 mb-4"><span class="font-weight-bold text-center">P</span>Profile - Product Master</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-2 text-center bg-dark text-white th">PRODUCT IMAGE</div>
    <div class="col-2 text-center bg-dark text-white th">PRODUCT NAME</div>
    <div class="col-2 text-center bg-dark text-white th">PRODUCT CATEGORY</div>
    <div class="col-2 text-center bg-dark text-white th">PRODUCT PRICE</div>
    <div class="col-2 text-center bg-dark text-white th">URL</div>
    <div class="col-2 text-center bg-dark text-white th">URL</div>
  </div>
  <div class="row">
    <div class="col-2 line">Image 1</div>
    <div class="col-2 line">Name 1</div>
    <div class="col-2 line">Category 1</div>
    <div class="col-2 line text-center">Price 1</div>
    <div class="col-2 line text-center">Url 1</div>
    <div class="col-2 line text-center">Url 1</div>
  </div>
  <div class="row">
    <div class="col-2 line">Image 2</div>
    <div class="col-2 line">Name 2</div>
    <div class="col-2 line">Category 2</div>
    <div class="col-2 line text-center">Price 2</div>
    <div class="col-2 line text-center">Url 2</div>
    <div class="col-2 line text-center">Url 2</div>
  </div>
</div>