<div class="container" id="profile">
  <div class="row">
    <div class="col-12 text-center font-weight-bold text-uppercase">
      <h3 class="tittle mb-sm-5 mb-4"><span class="font-weight-bold text-center">P</span>Profile</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Profile - Settings</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="row">
        <div class="col-12">
          <img src="assets/img/1.jpg" width="120" height="120" id="pro_pic">
        </div>
      </div>
      <div class="row">
        <div class="col-6 text-center">
          <button name="btn_change" id="btn_change">Change</button>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="container-fluid pp">
        <div class="row">
          <div class="col-3">Name</div>
          <div class="col-4">Viraj Gunathilaka</div>
          <div class="col-5"><a href="">Edit</a></div>
        </div>
        <div class="row">
          <div class="col-3">Password</div>
          <div class="col-4">*************</div>
          <div class="col-5"><a href="">Edit</a></div>
        </div>
        <div class="row">
          <div class="col-3">Address</div>
          <div class="col-4">372/4, Pipe Rd, Thalangama North, Koswatte</div>
          <div class="col-5"><a href="">Edit</a></div>
        </div>
        <div class="row">
          <div class="col-3">Contact</div>
          <div class="col-4">0112789456</div>
          <div class="col-5"><a href="">Edit</a></div>
        </div>
        <div class="row">
          <div class="col-3">Credit Card Number</div>
          <div class="col-4">0123456789654</div>
          <div class="col-5"><a href="">Edit</a></div>
        </div>
      </div>
    </div>
  </div>
</div>