<div class="container-fluid" style="margin-top: 70px;">
    <div class="row">
        <div class="col-3 text-white" id="left_bar">
            <div class="row">
                <div class="col-12 text-center text-white">FILTERS</div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span>Sort By</span>
                    <select name="sort" id="sort">
                        <option value="0">Sort By</option>
                        <option value="1">Sort By Price ASC</option>
                        <option value="2">Sort By Price DESC</option>
                        <option value="3">Sort By Best Product</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span>Price Range</span>
                </div>
            </div>
            <div class="row">
                    <div class="col-12">
                        <span>Customer Feedbacks</span>
                    </div>
                </div>
        </div>
        <div class="col-9">
            <div class="container">
                <!-- <div class="search_head">
                    Search Product
                </div> -->

                <div class="row text-white" id="top_bar">
                    <div class="col-8">Search Name</div>
                </div>
                <div class="products">
                    <div class="row">
                        <div class="col-12"><strong>Product Name</strong></div>
                        <div class="col-3 text-center">
                            <img src="assets/img/1.jpg" height="100" width="100" />
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <div class="col-12">Ebay Product</div>
                            </div>
                            <div class="row">
                                <div class="col-12">4GB RAM</div>
                            </div>
                            <div class="row">
                                <div class="col-12">Specifications</div>
                            </div>
                            <div class="row">
                                <div class="col-12">Price</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-success" id="more" name="more">More</button>
                        </div>
                    </div>
                </div>

                <div class="products">
                    <div class="row">
                        <div class="col-12"><strong>Product Name</strong></div>
                        <div class="col-3 text-center">
                            <img src="assets/img/1.jpg" height="100" width="100" />
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <div class="col-12">Ebay Product</div>
                            </div>
                            <div class="row">
                                <div class="col-12">4GB RAM</div>
                            </div>
                            <div class="row">
                                <div class="col-12">Specifications</div>
                            </div>
                            <div class="row">
                                <div class="col-12">Price</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-success" id="more" name="more">More</button>
                        </div>
                    </div>
                </div>

                <div class="products">
                    <div class="row">
                        <div class="col-12"><strong>Product Name</strong></div>
                        <div class="col-3 text-center">
                            <img src="assets/img/1.jpg" height="100" width="100" />
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <div class="col-12">Ebay Product</div>
                            </div>
                            <div class="row">
                                <div class="col-12">4GB RAM</div>
                            </div>
                            <div class="row">
                                <div class="col-12">Specifications</div>
                            </div>
                            <div class="row">
                                <div class="col-12">Price</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-success" id="more" name="more">More</button>
                        </div>
                    </div>
                </div>

                <div class="products">
                    <div class="row">
                        <div class="col-12"><strong>Product Name</strong></div>
                        <div class="col-3 text-center">
                            <img src="assets/img/1.jpg" height="100" width="100" />
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <div class="col-12">Ebay Product</div>
                            </div>
                            <div class="row">
                                <div class="col-12">4GB RAM</div>
                            </div>
                            <div class="row">
                                <div class="col-12">Specifications</div>
                            </div>
                            <div class="row">
                                <div class="col-12">Price</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-success" id="more" name="more">More</button>
                        </div>
                    </div>
                </div>

                <div class="products">
                    <div class="row">
                        <div class="col-12"><strong>Product Name</strong></div>
                        <div class="col-3 text-center">
                            <img src="assets/img/1.jpg" height="100" width="100" />
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <div class="col-12">Ebay Product</div>
                            </div>
                            <div class="row">
                                <div class="col-12">4GB RAM</div>
                            </div>
                            <div class="row">
                                <div class="col-12">Specifications</div>
                            </div>
                            <div class="row">
                                <div class="col-12">Price</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-success" id="more" name="more">More</button>
                        </div>
                    </div>
                </div>

                <div class="pagination text-right">
                    <div class="row">
                        <div class="col-12">
                            <div class="page_no">1</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>